@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="col-sm-12 text-center">
        <h4>Rainbow School</h4>
    </div>
    <div class="clearfix row">
        <div class="col-sm-12">
            <a href="Home/Info?t=teachers">Show Info About Teachers</a><br />
            <a href="Home/Info?t=infrastructure">Show Info About Infrastructure</a><br />
            <a href="Home/Info?t=admissions">Show Info About Admissions</a><br />
        </div>
    </div>
</div>
